/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.team-wrapper {
    display: flex;
}
.all-members {
    display: flex;
    justify-content: center;
}